body{
    margin: auto;
    align-content: center;
    align-items: center;
    height: 100dvh;
    background-color: rgb(228, 228, 228);
}

:root{
    --main-color:rgb(31, 35, 46);
    --secondary-color:rgb(255, 255, 255);
    --prime-color:rgb(65, 72, 94);
    --light-color:rgb(52, 68, 119);
    --white-color: #FBFBFB;
    --transparant: rgba(255, 255, 255, 0);
}

.create-account-container{
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    padding: 0%;
    width: 50%;
    height: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-areas: "box-1 box-2";
    .sambutan{
        background-color: var(--main-color);
        padding-left: 20pt;
        padding-right: 20pt;
        color: var(--secondary-color);
        margin: auto;
        height: 100%;
        overflow: hidden;
        max-width: 100%;
        align-items: center;
        align-content: center;
        text-align: center;
        h1{
            text-align: left;
            font-size: 130%;
        }
        p{
            text-align: justify;
            line-height: 120%;
            margin-bottom: 0;
            font-size: 80%;
            color: rgb(188, 209, 219);
        }
        ul {
            margin-top: 0;
            padding-left: 20pt;
            li{
                line-height: 120%;
                list-style-position: outside;
                font-size: 80%;
                color: rgb(188, 209, 219);
                text-align: left;
            }
        }
        img{
            margin: auto;
            margin-top: 10%;
            width: 50%;
        }
    }
    .create{
        padding: 20pt;
        padding-left: 10%;
        align-items: center;
        margin: auto;
        width: 50%;
        h1{
            font-size: 100%;
            box-shadow: 0px 2px var(--main-color);
            padding-bottom: 10pt;
        }
        form{
            width: 100%;
            label{
                font-size: 70%;
            }
            input{
                margin-top: 5pt;
                margin-bottom: 5pt;
                width: 100%;
                height: 10%;
                padding: 2pt 5pt;
                border: solid;
                border-width: 1pt;
                border-color: rgb(113, 118, 139);
                border-radius: 3pt;
                transition: 0.2s;
            }
            input:focus{
                border-style: solid;
                border-color: rgb(57, 80, 173);
                border-radius: 3pt;
                width: 220pt;
            }
            textarea{
                resize: none;
                font-size: 50%;
                width: 100%;
                height: 20pt;
                margin-top: 5pt;
                margin-bottom: 5pt;
                border: solid;
                border-width: 1pt;
                border-color: rgb(113, 118, 139);
                border-radius: 3pt;
                padding: 2pt 5pt;
            }
            button{
                width: 20%;
                height: 10%;
                padding: 2% 3%;
                background-color: rgb(48, 94, 192);
                border: none;
                font-size: 80%;
                border-radius: 3pt;
                color: var(--secondary-color);
                cursor: pointer;
                margin-top: 10pt;
            }
            button:hover{
                filter: brightness(1.1);
            }
            button:active{
                filter: brightness(0.8);
            }
        }
        p{
            font-size: 70%;
        }
    }
}

.create.succsessful{
    margin: auto;
    width: 60%;
    height: 640px;
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    align-content: center;
    h1 i{
        font-size: 2em;
        color: green;
        margin-bottom: 0;
        padding: 0%;
    }
    a{
        text-decoration: none;
    }
    h1{
        margin: auto;
        margin-top: 15pt;
        margin-bottom: 15pt;
    }
    .back-button{
        background-color: var(--main-color);
        color: var(--secondary-color);
        width: 130pt;
        height: 30pt;
        border: none;
        transition: 0.1s;
        border-radius: 5pt;
        cursor: pointer;
    }
    .back-button:hover{
        filter: brightness(1.2);
    }.back-button:active{
        filter: brightness(0.5);
    }
}