body{
    margin: auto;
    overflow-x: hidden;
    font-family: sans-serif;
}

:root{
    --main-color:rgb(31, 35, 46);
    --secondary-color:rgb(248, 248, 248);
    --white-color: #FBFBFB;
    --transparant: rgba(255, 255, 255, 0);
}
.color-main{
    background-color: var(--main-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-transparant{
    background-color: var(--transparant);
    border: none;
}

.navigation{
    width: 100%;
    margin: auto;
    height: 60px;
}

.navigation .container{
    width: 60%;
    height: 100%;
    margin: auto;
    gap: 30px;
    display: grid;
    grid-template-columns: 120px 600px 60px 60px 60px;
    grid-template-areas: "box-1 box-2 box-3 box-4 box-5";
    justify-content: center;
}

.wingspart25-logo{
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: left;
    img{
        width: 100%;
    }
}

.btn{
    cursor: pointer;
}

.btn.notification-btn, .profile-btn, .search-btn, .cart-btn{
    align-content: center;
    justify-content: center;
    img{
        width: 40px;
        height: 40px;
    }
}
.cart-btn, .notification-btn, .profile-btn{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    img{
        width: 100%;
    }
}

.form.search-form{
    margin: auto;
    height: 100%;
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    grid-area: search-form;
    align-items: center;
    input{
        width: 80%;
        height: 50%;
        padding-left: 20px;
    }
    button img{
        height: 30px;
    }
}

@keyframes open_menu{
    from{
        height: 0px;
    }
    to{
        height: 150px;
    }
}
@keyframes close_menu{
    0%{
        display: block;
        height: 0px;
    }
    99%{
        height: 150px;
    }
    100%{
        display: none;
    }
}


.sub-notification{
    width: 300px;
    position: fixed;
    z-index: 1;
    left: 65%;
    /* min-height: 80px; */
    max-height: 150px;
    background-color: var(--secondary-color);
    padding: 10px;
    margin: auto;
    justify-content: center;
    overflow: auto;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);

    animation-name: close_menu;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    display: none;

    .notification-list a{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 15% 85%;
        grid-template-areas: "image header" "image text";
        text-decoration: none;
        color: black;
        justify-content: center;
        .notification-image{
            max-height: 100px;
        }
        .notification-header{
            max-width: 100%;
            font-size: 1em;
        }
        .notification-text{
            max-width: 100%;
            font-size: 1em;
            text-align: justify;
            padding-right: 5px;
        }
    }
}
.sub-notification.open::-webkit-scrollbar{
    width: 3px;
}
.sub-notification.open::-webkit-scrollbar-track{
    background-color: var(--secondary-color);
}
.sub-notification.open::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.sub-notification.open{
    display: block;
    animation-name: open_menu;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}

.margin-auto{
    margin: auto;
}

.content-center{
    justify-content: center;
    align-content: center;
    align-items: center;
}

.category{
    width: 60%;
    margin-top: 30px;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
}
.category-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
    overflow-x: auto;
    align-content: center;
    justify-content: center;
    .category-object{
        background-color: var(--transparant);
        margin: auto;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
        box-shadow: 0px 0px var(--main-color);
        transition: 0.2s;
        padding: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        grid-template-areas: "box-1" "box-2";
        img{
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            object-fit: scale-down;
        }
        p{
            text-align: center;
        }
    }
    .category-object:hover{
        background-color: #FBFBFB;
        box-shadow: 0px 5px var(--main-color);
        transition: 0.2s;
    }
    .category-object.active{
        box-shadow: 0px 5px var(--main-color);
    }
    .category-object.delete{
        align-content: center;
        align-items: center;
        justify-content: center;
        h1 i{
            font-size: 2em;
        }
    }
}