body{
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
}

:root{
    --main-color:rgb(31, 35, 46);
    --secondary-color:rgb(255, 255, 255);
    --prime-color:rgb(65, 72, 94);
    --light-color:rgb(52, 68, 119);
    --white-color: #FBFBFB;
    --transparant: rgba(255, 255, 255, 0);
}
.bg-main{
    background-color: var(--main-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-transparant{
    background-color: var(--transparant);
    border: none;
}

.bg-light-color{
    background-color: var(--light-color);
    color: var(--secondary-color);
}

.navigation{
    width: 100%;
    margin: auto;
    height: 60px;
}

.navigation .container{
    width: 60%;
    height: 100%;
    margin: auto;
    gap: 30px;
    display: grid;
    grid-template-columns: 120px 600px 60px 60px 60px;
    grid-template-areas: "box-1 box-2 box-3 box-4 box-5";
    justify-content: center;
}

.wingspart25-logo{
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: left;
    img{
        width: 100%;
    }
}

.btn{
    cursor: pointer;
    border: none;
}

.btn:hover{
    filter: brightness(1.1);
}

.account-btn{
    padding: 8px 21px;
}

.btn.notification-btn, .profile-btn, .search-btn, .cart-btn{
    align-content: center;
    justify-content: center;
    img{
        width: 40px;
        height: 40px;
    }
}
.cart-btn, .notification-btn, .profile-btn{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    img{
        width: 100%;
    }
}

.form.search-form{
    margin: auto;
    height: 100%;
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    grid-area: search-form;
    align-items: center;
    input{
        width: 80%;
        height: 50%;
        padding-left: 20px;
    }
    button img{
        height: 30px;
    }
}

@keyframes open_menu{
    from{
        height: 0px;
    }
    to{
        height: 150px;
    }
}
@keyframes close_menu{
    0%{
        display: block;
        height: 0px;
    }
    99%{
        height: 150px;
    }
    100%{
        display: none;
    }
}


.sub-notification{
    width: 300px;
    position: absolute;
    z-index: 1;
    display: block;
    left: 70%;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    overflow: auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);

    transition: 0.1s ease-in-out;

    .notification-list a{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 15% 85%;
        grid-template-areas: "image header" "image text";
        text-decoration: none;
        color: black;
        justify-content: center;
        .notification-image{
            max-height: 100px;
        }
        .notification-header{
            max-width: 100%;
            font-size: 1em;
        }
        .notification-text{
            max-width: 100%;
            font-size: 1em;
            text-align: justify;
            padding-right: 5px;
        }
    }
    .notification-nothing{
        h1{
            font-size: 10pt;
            text-align: center;
        }
    }
}
.sub-notification::-webkit-scrollbar{
    width: 3px;
}
.sub-notification::-webkit-scrollbar-track{
    background-color: var(--secondary-color);
}
.sub-notification::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.sub-notification.open{
    display: block;
    left: 65%;
    min-height: 80px;
    max-height: 150px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--secondary-color);
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);

    transition: 0.1s ease-in-out;
}

.margin-auto{
    margin: auto;
}

.content-center{
    justify-content: center;
    align-content: center;
    align-items: center;
}

.category{
    width: 60%;
    margin-top: 30px;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px rgb(102, 106, 116);
    overflow: hidden;
    h1{
        text-align: center;
    }
    #left-scroll, #right-scroll{
        font-size: 2em;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
}
.category-list{
    width: 100%;
    position: relative;
    display: flex;
    flex: 1;
    flex-shrink: 1;
    flex-direction: row;
    min-width: 0;
    padding: 20px;
    gap: 40px;
    overflow-y: hidden;
    overflow-x: auto;
    /* background-color: aqua; */
    .category-object{
        background-color: var(--transparant);
        margin: auto;
        height: 150px;
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
        box-shadow: 0px 0px var(--main-color);
        transition: 0.2s ease-in-out;
        padding: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        grid-template-areas: "box-1" "box-2";
        img{
            width: 100%;
            height: 100%;
            margin: auto;
            object-fit: scale-down;
        }
        p{
            text-align: center;
        }
    }
    .category-object:hover{
        background-color: #FBFBFB;
        box-shadow: 0px 5px var(--prime-color);
        transition: 0.2s ease;
    }
    .category-object.active{
        box-shadow: 0px 5px var(--main-color);
        transition: 2s ease;
    }
    .category-object.delete{
        align-content: center;
        align-items: center;
        justify-content: center;
        h1 i{
            font-size: 2em;
        }
    }
}

.category-list::-webkit-scrollbar{
    height: 5pt;
}
.category-list::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.category-list::-webkit-scrollbar-track{
    height: 8pt;
}

.profile-menu{
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    min-height: 0px;
    max-height: 0px;
    text-align: center;
    align-items: center;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow: auto;
    overflow-y: hidden;
    transition: 0.1s ease-in-out;
    img, button, p{
        opacity: 0;
    }
    p{
        font-size: 10pt;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.profile-menu.open{
    display: flex;
    padding: 10px;
    min-height: 100pt;
    max-height: 100dvh;
    gap: 10pt;
    background-color: var(--secondary-color);
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    transition: 0.1s ease-in-out;
    img, button, p{
        opacity: 1;
    }
    p{
        font-size: 10pt;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.footer{
    background-color: var(--secondary-color);
    margin: auto;
    width: 100%;
    justify-content: center;
    margin-top: 100dvh;
    box-shadow: 0pt -1.5pt rgb(102, 102, 102);
    padding-top: 20pt;
    .footer-content{
        /* background-color: aqua; */
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 80% 20%;
        grid-template-areas:
        "box-1 box-2"
        "box-3 box-2";
        .product-service{
            height: 250pt;   
        }
        .about-us{
            box-shadow: -1.5pt 0px rgb(102, 102, 102);
            padding-left: 30pt;
            height: 90%;
        }
        h1{
            font-size: 15pt;
        } 
        ul{
            padding: 0;
        }
        li{ 
            list-style-type: none;
            list-style-position: inside;
            margin: auto;
            margin-left: 0;
            margin-bottom: 10px;
            /* background-color: aquamarine; */
            a{
                font-size: 12pt;
                color: rgb(63, 63, 63);
                text-decoration: none;
                /* font-style; */
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
