body{
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
    background-color: #f3f3f3;
}

:root{
    --main-color:rgb(31, 35, 46);
    --secondary-color:rgb(255, 255, 255);
    --prime-color:rgb(65, 72, 94);
    --light-color:rgb(52, 68, 119);
    --white-color: #FBFBFB;
    --transparant: rgba(255, 255, 255, 0);
    --box-shadow: 2px 2px 5pt rgba(59, 66, 75, 0.13);
}
.bg-main{
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-transparant{
    background-color: var(--transparant);
    border: none;
}
.bg-light-color{
    background-color: var(--light-color);
    color: var(--secondary-color);
}
.bg-blue{
    background-color: rgb(18, 73, 156);
    color: var(--secondary-color);
    padding: 5pt 8pt;
    border-radius: 3pt;
}
.bg-yellow{
    background-color: rgb(207, 162, 64);
    color: var(--secondary-color);
    padding: 5pt 8pt;
    border-radius: 3pt;
}
.bg-red{
    background-color: rgb(190, 35, 35);
    color: var(--secondary-color);
    padding: 5pt 8pt;
    border-radius: 3pt;
}

.navigation{
    width: 100%;
    height: 50px;
    margin: auto;
    top: 0;
    z-index: 1;
    box-shadow: 0pt 2pt 5pt rgba(59, 66, 75, 0.295);
    position: fixed;
}

.navigation .container{
    width: 60%;
    height: 100%;
    margin: auto;
    gap: 30px;
    display: grid;
    grid-template-columns: 120px 600px 60px 60px 60px;
    grid-template-areas: "box-1 box-2 box-3 box-4 box-5";
    justify-content: center;
}

.wingspart25-logo{
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: left;
    img{
        height: 50%;
    }
}

.btn{
    cursor: pointer;
    border: none;
}

.btn:hover{
    filter: brightness(1.1);
}
.btn:active{
    filter: brightness(0.9);
}


.account-btn{
    padding: 8px 21px;
}

.btn.notification-btn, .search-btn, .cart-btn{
    align-content: center;
    justify-content: center;
    /* background-color: aqua; */
    img{
        width: 40px;
        max-height: 50%;
    }
}
.cart-btn, .notification-btn{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    img{
        max-width: 100%;
    }
}

.profile-btn{
    img{
        border-radius: 50pt;
        object-fit: cover;
        height: 30px;
        max-width: 30px;
    }
}

.form.search-form{
    margin: auto;
    height: 100%;
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    grid-area: search-form;
    align-items: center;
    input{
        width: 80%;
        height: 50%;
        padding-left: 20px;
    }
    button img{
        height: 20px;
    }
}

@keyframes open_menu{
    from{
        height: 0px;
    }
    to{
        height: 150px;
    }
}
@keyframes close_menu{
    0%{
        display: block;
        height: 0px;
    }
    99%{
        height: 150px;
    }
    100%{
        display: none;
    }
}


.sub-notification{
    width: 300px;
    position: fixed;
    z-index: 2;
    display: block;
    left: 70%;
    top: 50px;
    padding: 10pt 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    overflow: hidden;
    border-style: solid;
    border-width: 0pt;
    border-radius: 8pt;
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
    filter: opacity(0);
    transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

    .notification-list a{
        display: grid;
        width: 100%;
        padding-left: 5pt;
        padding-right: 5pt;
        grid-template-columns: 30% 70%;
        grid-template-rows: 20pt 10pt 60pt;
        grid-template-areas: 
        "image header"
        "image date"
        "image text";
        text-decoration: none;
        color: black;
        justify-content: center;
        align-content: center;
        .notification-image{
            width: 90%;
            height: 60%;
            object-fit: cover;
            margin: auto;
            margin-top: 5pt;
        }
        .notification-header{
            max-width: 100%;
            font-size: 10pt;
            padding-bottom: 0;
            margin-bottom: 0;
            height: 100%;
        }
        .notification-date{
            font-size: 8pt;
            margin: auto;
            text-align: left;
            margin-top: 0;
            margin-left: 0;
            color: rgb(85, 88, 100);
        }
        .notification-text{
            width: 95%;
            height: 100%;
            margin-top: 0;
            font-size: 10pt;
            color: rgb(43, 45, 54);
            text-align: left;
            padding-right: 5px;
        }
    }
    .notification-list a:hover{
        background-color: #f5f5f5;
    }
    .notification-nothing{
        h1{
            font-size: 10pt;
            text-align: center;
        }
    }
}
.sub-notification::-webkit-scrollbar{
    width: 3px;
}
.sub-notification::-webkit-scrollbar-track{
    background-color: var(--secondary-color);
}
.sub-notification::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.sub-notification.open{
    display: block;
    left: 65%;
    min-height: 30vh;
    max-height: 90dvh;
    padding: 10pt 0;
    top: 70px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--secondary-color);
    border-style: none;
    border-color: var(--secondary-color);
    border-width: 5pt ;
    box-shadow: var(--box-shadow);
    filter: opacity(1);

    transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.margin-auto{
    margin: auto;
}

.content-center{
    justify-content: center;
    align-content: center;
    align-items: center;
}


.category{
    width: 960px;
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 5px 40px;
    display: flex;
    border-radius: 8pt;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    h1{
        text-align: center;
        /* background-color: aqua; */
        width: 100%;
    }
    #left-scroll, #right-scroll{
        font-size: 2em;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
}
.category-list{
    width: 100%;
    position: relative;
    display: flex;
    flex: 1;
    flex-shrink: 1;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    /* background-color: aqua; */
    .category-object{
        background-color: var(--transparant);
        margin: auto;
        height: 120px;
        width: 100px;
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
        box-shadow: 0px 0px var(--main-color);
        transition: 0.2s ease-in-out;
        padding: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        grid-template-areas: "box-1" "box-2";
        img{
            width: 100%;
            height: 100%;
            margin: auto;
            object-fit: scale-down;
        }
        p{
            text-align: center;
        }
    }
    .category-object:hover{
        background-color: #FBFBFB;
        box-shadow: 0px 5px var(--prime-color);
        transition: 0.2s ease;
    }
    .category-object.active{
        box-shadow: 0px 5px var(--main-color);
        transition: 2s ease;
    }
    .category-object.delete{
        align-content: center;
        align-items: center;
        justify-content: center;
        h1 i{
            font-size: 2em;
        }
    }
}

.category-list::-webkit-scrollbar{
    height: 5pt;
}
.category-list::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.category-list::-webkit-scrollbar-track{
    height: 8pt;
}

.profile-menu{
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    top: 60px;
    min-height: 0pt;
    max-height: 0pt;
    text-align: center;
    align-items: center;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-radius: 8pt;
    border-color: rgba(255, 255, 255, 0);
    border-width: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    img, button, p{
        opacity: 0;
    }
    p{
        font-size: 10pt;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.profile-menu.open{
    display: flex;
    padding: 10px;
    min-height: 100pt;
    max-height: 230pt;
    top: 70px;
    gap: 10pt;
    background-color: var(--secondary-color);
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 5px;
    box-shadow: 2px 2px 10pt rgba(59, 66, 75, 0.295);
    transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    img, button, p{
        opacity: 1;
    }
    img{
        height: 40pt;
        width: 40pt;
        object-fit: cover;
        border-radius: 50pt;
    }
    p{
        font-size: 10pt;
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile-name{
        box-shadow: 0px 2px black;
        padding-bottom: 15pt;
    }
    a{
        width: 100%;
        font-size: 20%;
    }
    .account-btn{
        width: 100%;
        background-color: var(--secondary-color);
        text-align: right;
    }
    .account-btn:hover{
        background-color: #d3d3d3;
        transition: 0.1s;
    }
}
.footer{
    background-color: var(--secondary-color);
    margin: auto;
    width: 100%;
    justify-content: center;
    /* margin-top: 100dvh; */
    box-shadow: 0pt -2pt 5px rgba(0, 0, 0, 0.11);
    padding-top: 20pt;
    .footer-content{
        /* background-color: aqua; */
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 80% 20%;
        grid-template-areas:
        "box-1 box-2"
        "box-3 box-2";
        .product-service{
            height: 250pt;   
        }
        .about-us{
            box-shadow: -1.5pt 0px rgb(102, 102, 102);
            padding-left: 30pt;
            height: 90%;
        }
        h1{
            font-size: 15pt;
        } 
        ul{
            padding: 0;
        }
        li{ 
            list-style-type: none;
            list-style-position: inside;
            margin: auto;
            margin-left: 0;
            margin-bottom: 10px;
            /* background-color: aquamarine; */
            a{
                font-size: 12pt;
                color: rgb(63, 63, 63);
                text-decoration: none;
                /* font-style; */
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}

.page{
    width: 100%;
    margin: auto;
    margin-top: 60px;
    min-height: 70dvh;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.page.profile{
    /* background-color: aqua; */
    width: 800pt;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "box-1 box-2";
}

.profile-content{
    background-color: var(--secondary-color);
    border-radius: 8pt;
    box-shadow: var(--box-shadow);
    width: 95%;
    margin: auto;
    margin-top: 0pt;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50pt 140pt 200pt;
    gap: 20px;
    grid-template-areas: 
    "box-1 box-1"
    "box-2 box-3"
    "box-4 box-4";
    h1{
        /* background-color: aqua; */
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        box-shadow: 0 2pt rgba(0, 0, 0, 0.418);
        font-size: 16pt;
    }
    img{
        max-width: 150pt;
        height: 150pt;
        object-fit: fill;
        margin: auto;
        margin-top: 0;
        max-height: 100%;
        border-radius: 8pt;
    }
    .biodata-profile{
        width: 100%;
        height: 100%;
        align-self: first baseline;
        h2{
            font-size: 16pt;
            margin-bottom: 5pt;
        }
        table tr td{
            font-size: 10pt;
        }
        table tr{
            height: 25pt;
        }
        .profile-data{
            min-width: 100pt;
        }
        .profile-data.alamat{
            align-items: baseline;
            align-content: baseline;
        }
        textarea{
            resize: none;
            width: 100%;
            height: 100pt;
            padding: 5pt 2pt;
        }
        .edit-profile{
            margin: auto;
            margin-right: 0;
            margin-top: 20pt;
            padding: 5pt 10pt;
            background-color: rgb(23, 57, 136);
            color: var(--secondary-color);
            border: none;
            border-radius: 5pt;
        }
        .edit-profile.cancel{
            background-color: rgb(116, 18, 39);
        }
    }
    .ongoing-transaction{
        align-content: baseline;
        width: 100%;
        height: 100%;
        h2{
            font-size: 16pt;
            padding-left: 20pt;
        }
    }
}

.profile-content.edit{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50pt 340pt;
    grid-template-areas: "box-1" "box-2";
    h1{
    }
    .edit-biodata{
        width: 100%;
    }
    .edit-biodata form{
        margin: auto;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 28% 72%;
        grid-template-rows: 100%;
        grid-template-areas:
        "photo-input text-input";
        .image-input{
            width: 100%;
            height: 100%;
            text-align: center;
            img{
                margin-bottom: 20pt;
                max-width: 150pt;
                height: 150pt;
            }
            input{
                width: 90%;
                margin: auto;
                background-color: var(--main-color);
                color: var(--secondary-color);
                border-radius: 8pt;
                height: 20pt;
                align-content: center;
                text-align: center;
                justify-content: center;
                justify-items: center;
                padding: 2px;
                cursor: pointer;
                font-size: 8pt;
            }
        }
        .input-edit{
            width: 100%;
            height: 100%;
            margin: auto;
            margin-left: 0;
            padding-top: 4pt;
            padding-left: 15pt;
            h2{
                font-size: 14pt;
                margin-bottom: 5pt;
            }
            table tr .profile-data{
                min-width: 100pt;
            }
            table tr td{
                align-items: baseline;
                align-content: flex-start;
            }
            table{
                font-size: 10pt;
                tr{
                    height: 25pt;
                }
            }
            table tr td input{
                border-width: 0.5pt;
                padding: 2pt;
                padding-left: 5pt;
                border-color: rgb(95, 103, 112);
            }
            table tr td textarea{
                width: 250pt;
                height: 100pt;
                resize: none;
                border-width: 0.5pt;
                padding: 5pt;
                border-color: rgb(95, 103, 112);
                margin-bottom: 50pt;
            }
            .edit-profile{
                margin: auto;
                margin-right: 0;
                padding: 5pt 10pt;
                background-color: rgb(23, 57, 136);
                color: var(--secondary-color);
                border: none;
                border-radius: 5pt;
            }
            .edit-profile.cancel{
                background-color: rgb(116, 18, 39);
            }
        }
    }
}

.profile-content.notifikasi{
    width: 100%;
    display: flex;
    flex-direction: column;
    h1{
        text-align: left;
    }
    .notification-list{
        width: 95%;
        margin: auto;
        margin-left: 0;
    }
    .notification-list a{
        text-decoration: none;
        border-style: solid;
        border-color: rgb(66, 69, 75);
        border-width: 0.5pt;
        padding: 10pt;
        width: 100%;
        min-height: 100pt;
        display: grid;
        grid-template-columns: 150pt 80%;
        grid-template-rows: 20pt 15pt 80pt;
        grid-template-areas:
        "image header"
        "image date"
        "image text";
        .notification-image{
            max-width: 100%;
            height: 100%;
            margin: auto;
            margin-left: 0;
            object-fit: cover;
            border-radius: 0;
        }
        .notification-date{
            /* background-color: aqua; */
            width: 100%;
            color: rgba(0, 0, 0, 0.4);
            height: 100%;
            padding-left: 10pt;
            margin: auto;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 8pt;
            align-items: center;
            align-content: center;
        }
        .notification-header{
            /* background-color: aquamarine; */
            margin: auto;
            color: rgb(0, 0, 0);
            box-shadow: none;
            padding-left: 10pt;
            font-size: 16pt;
        }
        .notification-text{
            color: rgb(85, 85, 85);
            padding-left: 10pt;
            font-size: 10pt;
            margin: auto;
            margin-top: 0;
            width: 100%;
        }
    }
}

.profile-navigation{
    background-color: var(--secondary-color);
    margin: auto;
    position: fixed;
    width: 120pt;
    min-height: 230pt;
    border-radius: 8pt;
    padding: 15pt;
    box-shadow: var(--box-shadow);
    h1{
        font-size: 16pt;
        width: 100%;
        padding-bottom: 20px;
        box-shadow: 0pt 2pt black;
    }
    ul{
        padding-left: 0;
        margin-top: 30pt;
        gap: 5pt;
        display: flex;
        flex-direction: column;
        .profile-navigation-list{
            background-color: var(--secondary-color);
            text-decoration: none;
            cursor: pointer;
            min-height: 25pt;
            align-items: center;
            align-content: center;
            padding-left: 5pt;
            transition: 0.2s ease;
            li{
                list-style-type: none;
                font-size: 10pt;
                color: black;
            }
        }
        .profile-navigation-list:hover{
            background-color: rgba(0, 0, 0, 0.068);
            transition: 0.2s ease;
        }
        .profile-navigation-list:active{
            background-color: var(--main-color);
            transition: 0.2s ease;
            border-radius: 8pt;
            li{
                color: var(--secondary-color);
            }
        }
        .profile-navigation-list.active{
            background-color: var(--main-color);
            border-radius: 8pt;
            transition: 0.2s ease;
            li{
                color: var(--secondary-color);
            }
        }
    }
}

.page.product{
    width: 95%;
    display: flex;
    gap: 20pt;
    align-items: flex-start;
    /* display: grid;
    grid-template-columns: repeat(2, 120pt);
    grid-template-areas: "box-1 box-2"; */
    /* background-color: aqua; */
}

.profile-navigation.product{
    position: fixed;
    margin: auto;
    margin-top: 0;
}

.product-page{
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 85dvh;
    margin-left: 170pt;
    border-radius: 8pt;
    padding: 5pt 15pt;
    display: none;
}

.product-page.open{
    display: block;
}

.btn-control-product{
    margin: auto;
    margin-bottom: 15pt;
}

.product-list-table{
    .table{
        min-width: 100%;
        max-width: 110%;
        margin: auto;
        border-style:none;
        border-collapse: collapse;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        .tr{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:flex-start;
            .row{
                /* min-width: 20pt; */
                padding: 1pt 5pt;
                font-size: 8pt;
                text-align: left;
            }
            .td{
                height: 60pt;
                align-content: center;
                justify-items: center;
                overflow: hidden;
                box-shadow: 0 1pt rgb(126, 126, 126);
            }
            .option-column{
                min-width: 15%;
                max-width: 15%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 1pt;
                justify-content: center;
                align-items: center;
                .btn{
                    font-size: 100%;
                }
            }
            .number-column{
                min-width: 3%;
                max-width: 3%;
                text-align: center;
                /* background-color: #d3d3d377; */
            }
            .image-column{
                min-width: 5%;
                max-width: 5%;
                justify-items: center;
                justify-content: center;
                text-align: center;
                img{
                    object-fit: scale-down;
                    max-width: 100%;
                    max-height: 100%;
                    margin: auto;
                }
            }
            .name-column{
                min-width: 10%;
                max-width: 10%;
                text-align: left;
                /* background-color: #d3d3d377; */
                p{
                    font-size: 8pt;
                    text-align: left;
                    width: 100%;
                    padding-left: 3%;
                }
            }
            .cost-column{
                min-width: 8%;
                max-width: 8%;
            }
            .brand-column{
                min-width: 10%;
                max-width: 10%;
            }
            .description-column{
                min-width: 15%;
                max-width: 15%;
                overflow-x: hidden;
                overflow-y: hidden;
                p{
                    width: 100%;
                    padding-left: 3%;
                    padding-right: 3%;
                    text-align: justify;
                }
            }
            .status-column{
                min-width: 5%;
                max-width: 5%;
                background-color: var(--secondary-color);
            }
            .category-column{
                min-width: 5%;
                max-width: 5%;
            }
            .condition-column{
                min-width: 5%;
                max-width: 5%;
            }
            .status-column, .condition-column{
                /* background-color: #d3d3d377; */
            }
            .th{
                background-color: var(--main-color);
                color: var(--secondary-color);
                text-align: center;
            }
        }
        .tr.value.even{
            .row{
                background-color: #575d7a1e;
            }
        }
    }
}

.alert.open{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: -60px;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 83, 0.247);
    .add-product{
        display: block;
        position: fixed;
        z-index: 11;
        background-color: var(--secondary-color);
        margin: auto;
        width: 480px;
        border-radius: 8pt;
        padding: 20pt;
        h1{
            font-size: 16pt;
            box-shadow: 0 1pt black;
            padding-bottom: 10pt;
        }
        form{
            display: flex;
            flex-direction: column;
            gap : 20px;
            label{
                font-size: 8pt;
            }
            input, textarea{
                width: 150pt;
                margin: auto;
                margin-left: 10px;
                padding: 5pt;
                font-size: 8pt;
                resize: none;
            }
            textarea{
                width: 200pt;
                height: 120pt;
            }
            .input-barang{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                label{
                    /* background-color: aqua; */
                    min-width: 70pt;
                }
            }
            .kondisi-choice{
                width: 150px;
                align-items: center;
                align-content: center;
                display: flex;
                flex-direction: row;
                label{
                    margin: auto;
                    margin-left: 5pt;
                }
            }
        }
    }
    .add-product.info{
        width: 640px;
        display: grid;
        gap: 10pt;
        grid-template-columns: 40% 60%;
        grid-template-rows: 15% 35% 35% 10%;
        grid-template-areas:
        "box-1 box-1"
        "box-2 box-3"
        "box-2 box-4"
        "box-5 box-5";
        h1{
            font-size: 10pt;
        }
        .image-product{
            width: 100%;
            img{
                width: 100%;
                max-height: 100%;
                object-fit: scale-down;
            }
        }
        table{
            width: 100%;
            height: 100%;
            tr td{
                font-size: 8pt;
                /* background-color: aqua; */
                align-content: baseline;
                text-align: justify;
                height: 10%;
                color: #1b1b1b;
            }
            tr{
                min-height: 30pt;
            }
        }
        .description-box{
            align-content: baseline;
            align-items: baseline;
            width: 100%;
            height: 100%;
            p{
                margin: auto;
                color: #1b1b1b;
            }
            .description-header{
                font-size: 10pt;
            }
            .description-content{
                font-size: 8pt;
                padding-top: 5pt;
                height: 90%;
                color: #3f3f3f;
            }
        }
    }
}
.alert{
    display: none;
}